In [1]:
from IPython.display import display
import gc

In [2]:
import pandas as pd
import numpy as np
import os
from tensorflow.keras.preprocessing import image

# Processing Train Data

In [3]:
train_path = 'data/train/'
train_files_path =  [train_path + file_name for file_name in os.listdir(train_path)]

In [4]:
labels = []

for files_path in train_files_path:
    labels.append(files_path.split('/')[2].split('.')[0])

In [5]:
train_path_frame = pd.DataFrame({
    'path': train_files_path,
    'label': labels
})

train_path_frame.head()

                      path label
0     data/train/cat.0.jpg   cat
1     data/train/cat.1.jpg   cat
2    data/train/cat.10.jpg   cat
3   data/train/cat.100.jpg   cat
4  data/train/cat.1000.jpg   cat

In [6]:
train_frame = pd.DataFrame()

for i in train_path_frame.index:
    
    print(f"[{i+1}/{len(train_path_frame.index)}]", end="\r")
    
    img = image.load_img(train_path_frame.iloc[i]['path'])
    resized_img = img.resize([128,128])
    arr_img = image.img_to_array(resized_img)
    flatten_img = arr_img.reshape(([arr_img.shape[0]*arr_img.shape[1],arr_img.shape[2]]))
    
    train_frame = pd.concat([train_frame, pd.DataFrame({'label': [train_path_frame.iloc[i]['label']],'pixels': [flatten_img]})])
    
display(train_frame)

   label                                             pixels
0    cat  [[204.0, 165.0, 88.0], [209.0, 170.0, 93.0], [...
0    cat  [[40.0, 45.0, 41.0], [41.0, 45.0, 45.0], [40.0...
0    cat  [[29.0, 33.0, 42.0], [19.0, 24.0, 34.0], [31.0...
0    cat  [[221.0, 222.0, 217.0], [223.0, 224.0, 219.0],...
0    cat  [[140.0, 112.0, 75.0], [141.0, 113.0, 76.0], [...
..   ...                                                ...
0    dog  [[147.0, 143.0, 106.0], [149.0, 145.0, 108.0],...
0    dog  [[132.0, 102.0, 72.0], [103.0, 74.0, 45.0], [9...
0    dog  [[48.0, 43.0, 40.0], [51.0, 46.0, 43.0], [41.0...
0    dog  [[253.0, 255.0, 253.0], [253.0, 252.0, 253.0],...
0    dog  [[245.0, 238.0, 228.0], [246.0, 239.0, 229.0],...

[25000 rows x 2 columns]

In [7]:
train_frame.to_pickle('data/train_frame.pkl')

In [8]:
del train_frame
gc.collect()

0

# Processing Test Data

In [9]:
test_path = 'data/test1/'
test_files_path =  [test_path + file_name for file_name in os.listdir(test_path)]

In [10]:
test_path_frame = pd.DataFrame({
    'path': test_files_path
})
test_path_frame.head()

                   path
0      data/test1/1.jpg
1     data/test1/10.jpg
2    data/test1/100.jpg
3   data/test1/1000.jpg
4  data/test1/10000.jpg

In [11]:
test_frame = pd.DataFrame()

for i in test_path_frame.index:
    
    print(f"[{i+1}/{len(test_path_frame.index)}]", end="\r")
    
    img = image.load_img(test_path_frame.iloc[i]['path'])
    resized_img = img.resize([128,128])
    arr_img = image.img_to_array(resized_img)
    flatten_img = arr_img.reshape(([arr_img.shape[0]*arr_img.shape[1],arr_img.shape[2]]))
    
    test_frame = pd.concat([test_frame, pd.DataFrame({'pixels': [flatten_img]})])
    
display(test_frame)

                                               pixels
0   [[39.0, 66.0, 98.0], [37.0, 63.0, 100.0], [33....
0   [[11.0, 8.0, 5.0], [11.0, 8.0, 5.0], [11.0, 8....
0   [[3.0, 3.0, 3.0], [2.0, 2.0, 2.0], [3.0, 3.0, ...
0   [[154.0, 177.0, 120.0], [160.0, 177.0, 122.0],...
0   [[152.0, 132.0, 117.0], [168.0, 144.0, 126.0],...
..                                                ...
0   [[45.0, 37.0, 24.0], [46.0, 39.0, 25.0], [50.0...
0   [[146.0, 167.0, 89.0], [130.0, 121.0, 65.0], [...
0   [[231.0, 226.0, 127.0], [219.0, 224.0, 122.0],...
0   [[186.0, 69.0, 95.0], [189.0, 72.0, 98.0], [19...
0   [[84.0, 76.0, 86.0], [86.0, 79.0, 87.0], [85.0...

[12500 rows x 1 columns]

In [12]:
test_frame.to_pickle('data/test_frame.pkl')

In [13]:
del test_frame
gc.collect()

0